*{
  font: 'Roboto', sans-serif;
}

.headerIdentifica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
  color: rgb(51, 47, 47);
  padding: 10px 20px;
  width: 95vw;
}

.headerIdentifica img {
  height: 40px;
}

.headerIdentifica h1 {
  margin: 0;
  font-size: 20px;
}

/* Estilo para o logo */
.imagemLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imagemLogo img {
  height: 40px;
}

.imagemLogo span {
  font-size: 24px;
  font-weight: bold;
}

.ListaClubes{
  display: flex;
  gap: 10px;
  background-color: #f0f0f0;

}

.clubesAlinhamento{
  list-style: none;
  
}

/* Responsividade */
@media (max-width: 768px) {
  .headerIdentifica {
      flex-direction: column;
      text-align: center;
  }

}